// ***********************************
// FOOTER
// ***********************************
 
.footer-bottom{
	background:$background-color1;
	position: relative;
	padding: 119px 0 102px;
	@media #{$tablet-landscape}{
		padding: 50px 0;
	}
	@media #{$tablet-portrait}{
		padding: 20px 0 15px;
	}
	@media #{$mobile-landscape}{
		padding: 40px 0 30px;
	}
}
.footer-logo {
	@media #{$mobile-landscape}{
		text-align: center;
	}
	img{
		width: 161px;
		@media #{$tablet-portrait}{
			width: 140px;
		}
	}
}
.footer-right{
	text-align: right;
	font-size: $size-base;
	padding-top: 18px;
	@media #{$tablet-portrait}{
		font-size: $size-small;
		padding-top: 9px;
	}
	@media #{$mobile-landscape}{
		text-align: center;
		padding-top: 10px;
	}
	span{
		display: inline-block;
		padding-right: 71px;
		@media #{$tablet-landscape}{
			padding-right: 40px;
		}
		@media #{$tablet-portrait}{
			padding-right: 15px;
		}
		@media #{$mobile-landscape}{
			display: block;
			padding: 0 0 5px;
		}
	}
	a{
		display: inline-block;
		color: $text-color;
		&:hover{
			color: $link-color;
		}
	}
}

// ***********************************
// CONTACT BLOCK
// ***********************************
.contact-block{
	position: relative;
	&:before{
		position: absolute;
		content: "";
		left: 0;
		bottom: 0;
		width: 100%;
		background:$background-color1;
		height: 50%;
	}
}
.contact-block-in{
	background: rgba(130,201,197,1);
	background: -moz-linear-gradient(left, rgba(130,201,197,1) 0%, rgba(143,201,139,1) 23%, rgba(149,201,109,1) 47%, rgba(156,201,73,1) 71%, rgba(164,201,42,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(130,201,197,1)), color-stop(23%, rgba(143,201,139,1)), color-stop(47%, rgba(149,201,109,1)), color-stop(71%, rgba(156,201,73,1)), color-stop(100%, rgba(164,201,42,1)));
	background: -webkit-linear-gradient(left, rgba(130,201,197,1) 0%, rgba(143,201,139,1) 23%, rgba(149,201,109,1) 47%, rgba(156,201,73,1) 71%, rgba(164,201,42,1) 100%);
	background: -o-linear-gradient(left, rgba(130,201,197,1) 0%, rgba(143,201,139,1) 23%, rgba(149,201,109,1) 47%, rgba(156,201,73,1) 71%, rgba(164,201,42,1) 100%);
	background: -ms-linear-gradient(left, rgba(130,201,197,1) 0%, rgba(143,201,139,1) 23%, rgba(149,201,109,1) 47%, rgba(156,201,73,1) 71%, rgba(164,201,42,1) 100%);
	background: linear-gradient(to right, rgba(130,201,197,1) 0%, rgba(143,201,139,1) 23%, rgba(149,201,109,1) 47%, rgba(156,201,73,1) 71%, rgba(164,201,42,1) 100%);
	border-radius: 2px;
	padding: 132px 183px 111px 155px;
	@include flexbox;
	@include justify-content(space-between);
	@media #{$desktop}{
		padding: 100px;
	}	
	@media #{$tablet-landscape}{
		padding: 60px;
	}
	@media #{$tablet-portrait}{
		padding: 40px;
	}
	@media #{$mobile-landscape}{
		padding: 30px 15px 15px;
		@include flex-direction(column);
	}
	h6{
		font-size: $text-size;
		font-family: $main-font;
		color: $lighter;
		padding: 0 0 10px;
		@media #{$tablet-landscape}{
			font-size: $size-medium;
		}
		@media #{$tablet-portrait}{
			font-size: $size-base;
		}
		@media #{$mobile-landscape}{
			font-size: $size-base;
		}
	}
	h3{
		color: $lighter;
		font-family: $sub-font;
		padding: 0 0 21px;
		line-height: $size-h2;
		@media #{$tablet-landscape}{
			font-size: $lineheight-h5;
			line-height:$lineheight-h4 ;
		}
		@media #{$tablet-portrait}{
			font-size: $lineheight-h6;
			line-height:$lineheight-h5 ;
		}
		@media #{$mobile-landscape}{
			font-size: $lineheight-h6;
			line-height:$lineheight-h5 ;
		}
	}
}
.contact-block-left{
	max-width: 490px;
	@media #{$tablet-landscape}{
		max-width: 430px;
	}
	@media #{$tablet-portrait}{
		max-width: 340px;
	}
	.input-wrap{
		max-width: 485px;
		width: 100%;
		margin-bottom: 10px;
		input[type=text],input[type=email]{
			width: 100%;
			height: 50px;
			border: 2px solid $lighter;
			box-shadow: none;
			background:$background-color1;
			border-radius: 3px;
			padding: 0 17px;
			font-size: $text-size;
			color: $text-color;
			line-height: 46px;
			-webkit-appearance: none;
			::-webkit-input-placeholder { 
				color: $text-color;
			}
			::-moz-placeholder { 
				color: $text-color;
			}
			:-ms-input-placeholder { 
				color: $text-color;
			}
			:-moz-placeholder { 
				color: $text-color;
			}
			@media #{$tablet-landscape}{
				height: 45px;
				line-height: 41px;
				font-size: $size-medium;
			}
			@media #{$tablet-portrait}{
				height: 40px;
				line-height: 36px;
				font-size: $size-base;
			}
			@media #{$mobile-landscape}{
				height: 40px;
				line-height: 36px;
				font-size: $size-base;
				padding: 0 10px;
			}
		}
	}
	input[type=submit]{
		color: $lighter;
		background:$text-color;
		border-radius: 20px;
		border: 0;
		box-shadow: none;
		height: 40px;
		padding: 10px;
		min-width: 132px;
		font-family: $sub-font;
		font-size: $size-base;
		cursor: pointer;
		margin-top: 10px;
		-webkit-appearance: none;
		@include transition (all .3s ease-in-out);
		&:hover{
			background: $link-color;
		}
	}
}
.contact-block-right{
	@media #{$mobile-landscape}{
		padding: 30px 0 0;
	}
	.contact-element{
		padding: 0 0 32px;
		@media #{$tablet-portrait}{
			padding: 0 0 20px;
		}
		@media #{$mobile-landscape}{
			padding: 0 0 15px;
		}
		h6{
			padding: 0 0 17px;
			@media #{$tablet-landscape}{
				padding: 0 0 10px;
			}
			@media #{$tablet-portrait}{
				padding: 0 0 10px;
			}
			@media #{$mobile-landscape}{
				padding: 0 0 5px;
			}
		}
		a{
			font-size: $size-h3;
			color: $lighter;
			font-family: $title-font;
			@media #{$tablet-landscape}{
				font-size: $lineheight-h5;
				line-height:$lineheight-h4 ;
			}
			@media #{$tablet-portrait}{
				font-size: $lineheight-h6;
				line-height:$lineheight-h5;
			}
			@media #{$mobile-landscape}{
				font-size: $lineheight-h6;
				line-height:$lineheight-h5;
			}
		}
	}
}
label.error{
	display: none !important;
}
input.error{
	border: 2px solid red !important;
}


