// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Baloo+Paaji+2:700&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Baloo Paaji 2', cursive;

// Variables
$color1: #20603C;
$color2: #262626;
$transition: all 0.4s ease 0s;
$box-shadow: 0 2px 20px 0 rgba(0,
    0,
    0,
    0.10);


// Typography
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo Paaji 2', cursive;
    color: $color2;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    color: #fff;

    @media (max-width:768px) {
        font-size: 50px;
        line-height: 60px;
    }
}

h2 {
    font-size: 60px;
    line-height: 70px;
    position: relative;
    margin: 0 0 40px;
    text-align: center;

    &:before {
        content: '';
        width: 150px;
        height: 5px;
        background: $color1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }

    @media(max-width:768px) {
        font-size: 40px;
        line-height: 50px;
    }
}

a {
    transition: $transition;
    color: $color1;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color2;
    }
}

textarea,
input {
    width: 100%;
    min-height: 30px;
    padding: 10px 20px;
    border: 1px solid $color2;
    margin: 0 0 15px;
    font-size: 14px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

// Common styles
.imgLiquid {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

section {
    padding: 60px 0;

    @media(max-width:768px) {
        padding: 40px 0;
    }
}

.btn {
    border-radius: 0;
    background: $color1;
    border: 1px solid $color1;
    color: #fff;
    transition: $transition;
    padding: 10px 20px;

    &:hover,
    &:focus {
        background: $color2;
        border-color: $color2;
    }
}

// Header styles
.header {
    background: #fff;
    padding: 10px 0;
    box-shadow: $box-shadow;

    .navbar {
        @media(max-width:768px) {
            flex-direction: row-reverse;
        }

        .navbar-toggler {
            background-color: $color1;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: 'Baloo Paaji 2', cursive;
                    color: $color2;

                    &:hover {
                        color: $color1;
                    }
                }
            }
        }
    }

    .logo {
        img {
            max-width: 100px;

            @media(max-width:768px) {
                max-width: 80px;
            }
        }
    }
}

// Banner style
.banner {
    position: relative;
    .banner-slider {
        .slider-item {
            height: 500px;

            @media(max-width:768px) {
                height: 300px;
            }
        }
    }
}

.innerpage {
    .banner {
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            background: rgba(0,
                0,
                0,
                0.25);
        }
        .slider-item {
            height: 300px;
            padding: 120px 0 0;

            .slider-text {
                text-align: center;
                color: #fff;
                z-index: 999;
                position: relative;
            }
        }
    }
}

// Products section styles
.products-section {
    .product-block {
        text-align: center;
        margin: 0 0 20px;

        &:hover {
            .product-img {
                opacity: 0.75;
            }
        }

        .product-img {
            min-height: 300px;
            margin: 0 0 5px;
            transition: $transition;
        }
    }
}

// Product single section styles
.product-single-section {
    .product-single-img {
        margin: 0 0 5px;
    }

    .product-single-content {
        h2 {
            text-align: left;
            margin: 0 0 20px;

            &:before {
                display: none;
            }
        }

        .price {
            font-size: 24px;
            line-height: 34px;
        }
    }
}

// Footer styles
.footer {
    background: $color1;
    color: #fff;
    text-align: center;

    .footer-top {
        padding: 40px 0;

        @media(max-width:768px) {
            padding: 20px 0;
        }
    }

    .footer-bottom {
        padding: 20px 0;
        background: #022915;

        @media(max-width:768px) {
            padding: 10px 0;
        }
    }

    .footer-block {
        h5 {
            color: #fff;
        }

        li {
            display: block;

            a {
                color: #fff;

                &:hover {
                    opacity: 0.75;
                }

                i {
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }

        &.social {
            @media(max-width:768px) {
                padding: 0 0 15px;
            }

            li {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    .copyright {
        font-size: 14px;
        line-height: 24px;
    }
}

// WhatsApp 
.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;

    img {
        width: 80px;
        height: 80px;

        @media(max-width:768px) {
            width: 60px;
            height: 60px;
        }
    }
}
// All styles ends here