@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Righteous&display=swap");
body {
  font-family: 'Righteous', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  color: #262626;
}

h1 {
  font-size: 70px;
  line-height: 80px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

h2 {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

h6 {
  color: #fcb026;
}

a {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #fcb026;
}

a:hover, a:focus {
  text-decoration: none;
  color: #999999;
}

textarea,
input {
  width: 100%;
  min-height: 30px;
  padding: 10px 20px;
  border: 1px solid #999999;
  margin: 0 0 15px;
}

.imgLiquid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

section {
  padding: 40px 0;
}

@media (max-width: 768px) {
  section {
    padding: 20px 0;
  }
}

.btn {
  border-radius: 0;
  background: #fcb026;
  border: 1px solid #fcb026;
  color: #262626;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 10px 20px;
}

.btn:hover, .btn:focus {
  background: #262626;
  border-color: #262626;
  color: #fcb026;
}

.header .header-top {
  background: #262626;
  padding: 10px 0;
}

.header .header-top .phone i {
  color: #fcb026;
  margin: 0 10px 0 0;
}

.header .header-bottom {
  background: #fcb026;
  padding: 15px 0;
}

.header .header-bottom .navbar {
  background-color: #fcb026 !important;
}

.header .header-bottom .navbar ul li a {
  font-size: 18px;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: normal;
}

.logo small {
  display: block;
}

.banner .slider-item {
  position: relative;
  height: 500px;
}

.banner .slider-item:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner .slider-item .slider-text {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #fcb026;
  padding: 200px 0 0;
}

.banner .slider-item .slider-text h1 {
  color: #ffffff;
}

.homepage .banner .slider-item .slider-text h1 {
  text-transform: uppercase;
}

.innerpage .banner .slider-item {
  height: 300px;
}

.innerpage .banner .slider-item .slider-text {
  padding: 100px 0 0;
}

@media (max-width: 768px) {
  .map {
    margin: 0 0 20px;
  }
}

.star-rating span {
  font-size: 22px;
}

.star-rating span.checked {
  color: #fcb026;
}

.content-img {
  height: 300px;
}

.gallery-section .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0;
}

.gallery-section .nav-tabs .nav-item .nav-link {
  font-size: 22px;
  border-radius: 0;
}

.gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-grid .grid-item {
  width: 24%;
  margin: 0 0 1%;
}

@media (max-width: 768px) {
  .gallery-grid .grid-item {
    width: 100%;
  }
}

.gallery-grid .grid-item img {
  height: 200px;
}

.gallery-grid.large .grid-item {
  width: 49%;
}

@media (max-width: 768px) {
  .gallery-grid.large .grid-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .service-block {
    margin: 0 0 20px;
  }
}

.service-block .service-img {
  height: 250px;
}

.service-block h3 {
  margin: 10px 0 0;
}

.footer {
  background: #262626;
  padding: 20px 0;
  color: #fcb026;
  text-align: center;
}
